@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

.App {
  font-family: sans-serif;
  text-align: center;
  /* max-width: 64rem; */
  margin: 0 auto;
  padding: 10px;
}

.HeaderBox {
  flex-basis: 50%;
  flex-grow: 0;
}

.form-group {
  margin-bottom: 15px;
}

form {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  text-align: center;
}

.form-group {
  text-align: left;
}

#signup:hover {
  color: rgb(54, 80, 197);
}

#login:hover {
  color: rgb(54, 80, 197);
}

.w-100 {
  padding: 10px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* avatarformatting */

/* animation upon style changes */
@keyframes open {
  0% {
    background-position: 166% -25%, 220% -69%;
  }
  100% {
    background-position: 120% -5%, 200% -40%;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: #007bff;
  margin-bottom: 15px;
}

.img-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

/* .img {
  position: absolute;
  top: -100%;
  bottom:  -100%;
  left:  -100%;
  right:  -100%;
  margin: auto;
} */

.img-upload:before {
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #007bff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}


.hide {
  display: none;
}


.img-upload:hover:before {
  opacity: 1;
}

img {
  width: auto;
  height: 100%;
}
