@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

.App {
  font-family: sans-serif;
  /* max-width: 64rem; */
  margin: 0 auto;
  padding: 10px;
}

.HeaderBox {
  flex-basis: 50%;
  flex-grow: 0;
}

.form-group {
  margin-bottom: 15px;
}

form {
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
  text-align: left;
}

.w-100 {
  padding: 10px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

.basic-grid {
  display: grid;
  gap: 15px;

  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.subheading {
  font-weight: 600;
  margin-bottom: 5px;
}

.modal-content {
  max-width: 600px;
}

.modal-header {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3;
  font-weight: 400;
}
