/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  max-width: 260px;
  padding-left: 16px;
}
table thead tr {
  height: 60px;
  background: #007bff;
}
table tbody tr {
  height: 70px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

th {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

/* tbody tr:nth-child(even) {
  background-color: #f5f5f5;
} */

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.lastColumn {
  width: 180px;
  padding-right: 16px;
  text-align: right;
}

@media screen and (max-width: 700px) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
    margin-bottom: 37px;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  table tbody tr td:nth-child(1):before {
    content: "";
  }
  table tbody tr td:nth-child(2):before {
    content: "Module";
  }
  table tbody tr td:nth-child(3):before {
    content: "Duration";
  }
  table tbody tr td:nth-child(4):before {
    content: "Start Date";
  }
  table tbody tr td:nth-child(5):before {
    content: "Rate";
  }
  table tbody tr td:nth-child(6):before {
    content: "Status";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
